html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  font-family: "Lato", sans-serif;
  position: relative;
  line-height: 24px;
  color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: table;
  width: 100%; }

a,
a:active,
a:focus,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

a:hover {
  text-decoration: none; }

h3 {
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 30px; }

.img-center {
  display: block;
  margin: 0 auto; }

.container-no-padding [class*='col-'] {
  padding: 0;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out; }

.no-padding [class*='col-'] {
  padding: 0 10px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out; }

.btn-article {
  padding: 10px 25px;
  background: #68cfff;
  background: -webkit-linear-gradient(left, #68cfff, #5056c0);
  background: -o-linear-gradient(right, #68cfff, #5056c0);
  background: -moz-linear-gradient(right, #68cfff, #5056c0);
  background: linear-gradient(to right, #68cfff, #5056c0);
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  color: #fff;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 25px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4); }
  .btn-article:hover {
    color: #fff;
    background: #68cfff;
    background: -webkit-linear-gradient(left, #5056c0, #68cfff);
    background: -o-linear-gradient(right, #5056c0, #68cfff);
    background: -moz-linear-gradient(right, #5056c0, #68cfff);
    background: linear-gradient(to right, #5056c0, #68cfff); }

.btn-arrow {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .btn-arrow:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: translateY(-5px);
    transform: translateY(-10px); }

.button {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 1px 15px;
  padding-right: 25px;
  background: transparent;
  border: none;
  color: white;
  transition: .2s; }
  .button:before, .button:after {
    position: absolute;
    top: 1px;
    right: -23px;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 38px;
    height: 23px;
    border-radius: 20px;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    transition: .2s; }
  .button:before {
    background: #fff; }
  .button:hover {
    background: #68cfff; }
  .button:active, .button:focus {
    background: #68cfff;
    outline: none; }

.arrow {
  margin-top: 10px;
  background: transparent;
  border: 2px solid #68cfff;
  color: #68cfff;
  border-radius: 15px; }
  .arrow:hover {
    background: #68cfff;
    color: #fff; }
  .arrow:active, .arrow:focus {
    background: transparent;
    color: #68cfff; }
  .arrow:after {
    content: url(/images/arrow-right.png); }
  .arrow:hover:after {
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite; }

@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateX(0); }
  to {
    -webkit-transform: translateX(3px); } }
.share {
  margin-top: 20px; }
  .share .title {
    float: left;
    font-size: 16px;
    font-weight: 600; }
  .share .icon-fb {
    float: left;
    padding: 2px 11px;
    background: #295396;
    border-radius: 25px;
    color: #fff;
    font-size: 11px;
    margin-left: 15px; }
  .share .icon-tw {
    float: left;
    padding: 2px 9px;
    background: #55acee;
    border-radius: 25px;
    color: #fff;
    font-size: 11px;
    margin-left: 10px; }

.navbar {
  margin-bottom: 0px; }

.navbar-fixed-top {
  background-color: #ffffff;
  border-color: #e7e7e7; }

.navbar-fixed-top .navbar-nav > li > a {
  color: #000;
  font-weight: 600;
  border: 2px solid transparent; }
  .navbar-fixed-top .navbar-nav > li > a:hover {
    color: #68cfff;
    background-color: transparent; }

.navbar-brand {
  float: left;
  height: 34px;
  padding: 17px 15px;
  font-size: 18px;
  line-height: 20px; }

.navbar-fixed-top .navbar-nav > .active > a, .navbar-fixed-top .navbar-nav > .active > a:hover, .navbar-fixed-top .navbar-nav > .active > a:focus {
  color: #68cfff;
  background-color: transparent;
  border: 2px solid #68cfff;
  border-radius: 25px; }

.navbar-toggle {
  padding: 9px 10px;
  margin-top: 11px;
  border: 1px solid #68cfff; }
  .navbar-toggle .icon-bar {
    background: #68cfff; }

.social-menu {
  float: right; }
  .social-menu .nav-soc {
    margin-bottom: 0px;
    -webkit-padding-start: 0px; }
    .social-menu .nav-soc li {
      display: inline-block;
      padding: 15px 10px; }
      .social-menu .nav-soc li a {
        color: #717171;
        font-size: 16px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .social-menu .nav-soc li a:hover {
          color: #68cfff; }

.parallax {
  position: relative; }

header {
  background: url(/images/header.jpg) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: table;
  width: 100%;
  height: 60vh;
  margin-top: 69px;
  padding-bottom: 20px; }
  header .carousel {
    position: relative;
    margin-top: 70px;
    margin-left: -30px; }
    header .carousel .carousel-inner .item {
      transition-property: opacity; }
      header .carousel .carousel-inner .item .slider-article {
        margin: 0 30px;
        background: #fff;
        border-radius: 5px;
        height: auto; }
        header .carousel .carousel-inner .item .slider-article .box-top {
          padding: 10px 20px; }
          header .carousel .carousel-inner .item .slider-article .box-top .liga img {
            display: block;
            margin: 0 auto; }
          header .carousel .carousel-inner .item .slider-article .box-top .who-play {
            margin: 0 30px; }
            header .carousel .carousel-inner .item .slider-article .box-top .who-play .title-club {
              margin-top: 5px;
              text-align: center;
              font-weight: 600;
              font-size: 12px;
              line-height: 12px; }
            header .carousel .carousel-inner .item .slider-article .box-top .who-play .pkt {
              font-size: 40px;
              font-weight: 600;
              color: #000;
              text-align: center;
              margin-top: 15px; }
        header .carousel .carousel-inner .item .slider-article .hr {
          border: 1px dashed #68cfff;
          margin: 10px 0; }
        header .carousel .carousel-inner .item .slider-article .box-title {
          border-left: 5px solid #68cfff;
          padding: 10px 0 10px 20px; }
          header .carousel .carousel-inner .item .slider-article .box-title h3 {
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: 600; }
        header .carousel .carousel-inner .item .slider-article .box-body {
          padding: 10px 30px;
          line-height: 20px; }
          header .carousel .carousel-inner .item .slider-article .box-body .time {
            color: #5056c0;
            font-weight: 600;
            margin: 10px 0 20px; }
    header .carousel .carousel-inner .item,
    header .carousel .carousel-inner .active.left,
    header .carousel .carousel-inner .active.right {
      opacity: 0; }
    header .carousel .carousel-inner .active,
    header .carousel .carousel-inner .next.left,
    header .carousel .carousel-inner .prev.right {
      opacity: 1; }
    header .carousel .carousel-inner .next,
    header .carousel .carousel-inner .prev,
    header .carousel .carousel-inner .active.left,
    header .carousel .carousel-inner .active.right {
      left: 0;
      transform: translate3d(0, 0, 0); }
    header .carousel .carousel-control {
      top: 70px;
      opacity: 1; }
      header .carousel .carousel-control.right {
        right: 0;
        left: auto;
        background-image: -webkit-linear-gradient(left, transparent 0%, transparent 100%);
        background-image: -o-linear-gradient(left, transparent 0%, transparent 100%);
        background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(transparent));
        background-image: linear-gradient(to right, transparent 0%, transparent 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        background-repeat: repeat-x; }
        header .carousel .carousel-control.right i {
          color: #8a8a8a;
          background: #fff;
          padding: 13px 20px;
          border-radius: 25px; }
      header .carousel .carousel-control.left {
        background-image: -webkit-linear-gradient(left, transparent 0%, transparent 100%);
        background-image: -o-linear-gradient(left, transparent 0%, transparent 100%);
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
        background-image: linear-gradient(to right, transparent 0%, transparent 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        background-repeat: repeat-x; }
        header .carousel .carousel-control.left i {
          color: #8a8a8a;
          background: #fff;
          padding: 13px 20px;
          border-radius: 25px; }

.top-news {
  margin-top: 30px; }

.img-post {
  min-height: 500px;
  background-size: cover;
  object-fit: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: table;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  border-radius: 3px; }

section {
  padding: 50px 0; }
  section.post-article {
    padding: 90px 0; }
  section .main-article {
    margin-top: -100px; }
  section .main-match {
    margin-top: -180px; }
  section .mini-article {
    width: 100%; }
    section .mini-article .img-article {
      float: left;
      width: 30%;
      border-radius: 3px;
      cursor: pointer;
      height: 100%;
      overflow: hidden;
      position: relative;
      text-align: center;
      background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
      background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%); }
      section .mini-article .img-article:hover img {
        opacity: 0.6;
        filter: alpha(opacity=60);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      section .mini-article .img-article img {
        min-height: 119px;
        background-size: cover;
        object-fit: cover;
        background-position: top;
        background-repeat: no-repeat;
        display: table;
        width: 100%;
        height: 119px;
        border-radius: 3px;
        display: block;
        position: relative;
        max-width: none;
        width: calc(100% + 60px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
        transition: opacity 0.35s, transform 0.45s;
        -webkit-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0); }
    section .mini-article .article-body {
      float: left;
      width: 70%;
      padding: 5px 0 20px 10px; }
      section .mini-article .article-body .date {
        display: table;
        background: #68cfff;
        color: #fff;
        font-weight: 600;
        padding: 2px 10px;
        position: relative;
        left: -40px; }
      section .mini-article .article-body .title {
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        margin-top: 5px; }
  section .second-article .img-article {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    background: -webkit-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
    background: -o-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(to top right, #ff89e9 0%, #05abe0 100%); }
    section .second-article .img-article:hover img {
      opacity: 0.6;
      filter: alpha(opacity=60);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    section .second-article .img-article img {
      min-height: 220px;
      background-size: cover;
      object-fit: cover;
      background-position: top;
      background-repeat: no-repeat;
      display: table;
      width: 100%;
      height: 220px;
      border-radius: 3px;
      position: relative;
      max-width: none;
      width: calc(100% + 60px);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
      transition: opacity 0.35s, transform 0.45s;
      -webkit-transform: translate3d(-40px, 0, 0);
      transform: translate3d(-40px, 0, 0);
      background: -webkit-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
      background: -o-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
      background: linear-gradient(to top right, #ff89e9 0%, #05abe0 100%); }
  section .second-article .article-body {
    padding: 10px 0 20px; }
    section .second-article .article-body .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px; }
  section .third-article .img-article {
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%); }
    section .third-article .img-article:hover img {
      opacity: 0.6;
      filter: alpha(opacity=60);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    section .third-article .img-article img {
      min-height: 161px;
      background-size: cover;
      object-fit: cover;
      background-position: top;
      background-repeat: no-repeat;
      display: table;
      width: 100%;
      height: 161px;
      border-radius: 3px;
      background: -webkit-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
      background: -o-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
      background: linear-gradient(to top right, #ff89e9 0%, #05abe0 100%);
      display: block;
      position: relative;
      max-width: none;
      width: calc(100% + 60px);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
      transition: opacity 0.35s, transform 0.45s;
      -webkit-transform: translate3d(-40px, 0, 0);
      transform: translate3d(-40px, 0, 0); }
  section .third-article .article-body {
    padding: 10px 0 20px;
    position: relative; }
    section .third-article .article-body .date {
      display: table;
      background: #68cfff;
      color: #fff;
      font-weight: 600;
      padding: 2px 10px;
      position: absolute;
      left: 0px;
      top: -20px; }
    section .third-article .article-body .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px; }
  section .four-article {
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    section .four-article .img-article {
      border-radius: 3px;
      cursor: pointer;
      height: 100%;
      overflow: hidden;
      position: relative;
      text-align: center;
      background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
      background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%); }
      section .four-article .img-article:hover img {
        opacity: 0.6;
        filter: alpha(opacity=60);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      section .four-article .img-article img {
        min-height: 217px;
        background-size: cover;
        object-fit: cover;
        background-position: top;
        background-repeat: no-repeat;
        display: table;
        width: 100%;
        height: 217px;
        border-radius: 3px;
        display: block;
        position: relative;
        max-width: none;
        width: calc(100% + 60px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
        transition: opacity 0.35s, transform 0.45s;
        -webkit-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0); }
    section .four-article .article-body {
      padding: 0px 0 20px; }
      section .four-article .article-body .date {
        display: table;
        color: #5056c0;
        font-weight: 600;
        padding: 2px 0px; }
      section .four-article .article-body .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 18px; }
  section.ligs {
    background: #e5e5e5;
    padding: 30px 0; }
  section.top-five {
    background: #e5e5e5; }
    section.top-five img.face {
      width: 120px;
      height: 120px;
      border-radius: 60px; }
    section.top-five .img-club {
      position: absolute;
      top: 74px;
      left: 132px; }
    section.top-five .name {
      margin-top: 10px;
      text-align: center;
      font-weight: 600; }
    section.top-five .club {
      text-align: center;
      font-size: 13px;
      color: #a4a4a4; }
  section.carousel-liga .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0px 0px black;
    background-color: transparent;
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 1; }
    section.carousel-liga .carousel-control.right {
      right: 0;
      left: auto;
      background-image: -webkit-linear-gradient(left, transparent 0%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0%, transparent 100%);
      background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(transparent));
      background-image: linear-gradient(to right, transparent 0%, transparent 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
      background-repeat: repeat-x; }
      section.carousel-liga .carousel-control.right i {
        color: #000;
        font-size: 35px; }
    section.carousel-liga .carousel-control.left {
      background-image: -webkit-linear-gradient(left, transparent 0%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0%, transparent 100%);
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
      background-image: linear-gradient(to right, transparent 0%, transparent 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
      background-repeat: repeat-x; }
      section.carousel-liga .carousel-control.left i {
        color: #000;
        font-size: 35px; }
  section.carousel-liga .carousel .carousel-inner .item .name-liga {
    border-top: 2px solid #000;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 600; }

table.table-striped thead, table.table-striped tfoot {
  background: #27292c;
  color: #fff; }

.arrow-up {
  padding: 0;
  text-align: center;
  color: #89ca5d; }

.arrow-down {
  padding: 0;
  text-align: center;
  color: #bd3738; }

.match {
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.1); }
  .match .header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #5056c0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding: 10px; }
  .match .menu {
    background: #68cfff; }
    .match .menu ul.nav-tabs li {
      width: 33.3333%;
      text-align: center; }
      .match .menu ul.nav-tabs li.active a {
        color: #092c4a;
        font-weight: 600;
        cursor: default;
        background-color: #4cb5e6;
        border: 1px solid #4cb5e6;
        border-bottom-color: transparent; }
        .match .menu ul.nav-tabs li.active a:hover {
          background-color: #4cb5e6; }
      .match .menu ul.nav-tabs li a {
        padding: 5px 15px;
        margin-right: 0px;
        color: #fff;
        font-weight: 600;
        font-style: italic;
        border-radius: 0; }
        .match .menu ul.nav-tabs li a:hover {
          background-color: #4cb5e6;
          border: 1px solid #4cb5e6; }
    .match .menu select.select-tabs {
      width: 100%;
      background: #68cfff;
      border: 0;
      padding: 10px 10px;
      font-size: 16px;
      font-weight: 600;
      font-style: italic; }
      .match .menu select.select-tabs:focus, .match .menu select.select-tabs:hover, .match .menu select.select-tabs:active {
        border: 0; }
  .match .tab-body {
    padding: 10px 10px; }
    .match .tab-body p {
      margin: 5px 0 0 0;
      color: #000;
      font-weight: 600;
      text-align: center;
      font-size: 13px;
      line-height: 15px; }
    .match .tab-body hr {
      margin-top: 10px;
      margin-bottom: 10px;
      border: 0;
      border-top: 1px solid #eee; }
    .match .tab-body .name {
      color: #000;
      font-weight: 600;
      font-size: 16px;
      margin-top: 10px; }
    .match .tab-body .club {
      color: #c1c1c1;
      line-height: 10px;
      font-size: 13px; }
    .match .tab-body .pkt {
      color: #000;
      margin-top: 17px;
      font-size: 30px;
      font-weight: 600; }

.thumbnail {
  max-height: 100px; }

footer {
  border-top: 1px solid #e7e7e7;
  padding: 20px;
  margin-top: 20px;
  color: #bfbfbf;
  font-size: 13px; }
  footer .scrollToTop {
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    z-index: 1000;
    text-align: center;
    background: transparent;
    font-weight: bold;
    color: #5056c0;
    text-decoration: none;
    position: fixed;
    top: 86%;
    right: 40px;
    border: 2px solid #5056c0;
    display: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; }
    footer .scrollToTop:hover {
      background: #5056c0;
      color: #fff;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      transition: all 200ms linear; }

/*# sourceMappingURL=style.css.map */
