$gColor: #5056c0;
$bColor: #68cfff;
$tColor: #000000;
$mFont: 'Lato', sans-serif;

html,body {
    width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

body {
	font-family: $mFont;
	position: relative;
	line-height:24px;
	color: $tColor;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	display: table;
	width: 100%;
	//height: 100vh; 
}

a,
a:active,
a:focus,
a:hover{
	outline:none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover{
	text-decoration:none;
}

h3 {
	font-weight: 600;
    margin-top: 0px;
	margin-bottom: 30px;
}

.img-center {
	display: block;
	margin: 0 auto;
}

.container-no-padding [class*='col-'] {
	padding: 0;
	-webkit-transition: width 0.5s ease-in-out;
	transition: width 0.5s ease-in-out;
}

.no-padding [class*='col-'] {
	padding: 0 10px;
	-webkit-transition: width 0.5s ease-in-out;
	transition: width 0.5s ease-in-out;
}

.btn-article {
    padding: 10px 25px;
    background: $bColor; 
	background: -webkit-linear-gradient(left, $bColor ,$gColor); 
	background: -o-linear-gradient(right, $bColor, $gColor); 
	background: -moz-linear-gradient(right, $bColor, $gColor); 
	background: linear-gradient(to right, $bColor ,$gColor);
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    font-family: $mFont;
    color: #fff;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 25px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0 0px 15px rgba(0,0,0,0.4);

    &:hover {
    	color: #fff;
    	background: $bColor; 
		background: -webkit-linear-gradient(left, $gColor ,$bColor); 
		background: -o-linear-gradient(right, $gColor, $bColor); 
		background: -moz-linear-gradient(right, $gColor, $bColor); 
		background: linear-gradient(to right, $gColor ,$bColor);
    }
}

.btn-arrow {
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

	&:hover {
		-webkit-transition: all .2s ease-in-out;
    	-moz-transition: all .2s ease-in-out;
    	transition: all .2s ease-in-out;
		-webkit-transform: translateY(-5px);
		transform: translateY(-10px);
	}
}

.button {
	display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: 1px 15px;
    padding-right: 25px;
    background: transparent;
    border: none;
    color: white;
    transition: .2s;

	&:before,
	&:after {
		position: absolute;
	    top: 1px;
	    right: -23px;
	    padding-top: inherit;
	    padding-bottom: inherit;
	    width: 38px;
	    height: 23px;
	    border-radius: 20px;
	    content: "\00a0";
	    font-family: 'FontAwesome', sans-serif;
	    font-size: 1.2em;
	    text-align: center;
	    transition: .2s;
	}

	&:before {
		background: #fff;
	}

	&:hover {
		background: $bColor;
	}

	&:active,
	&:focus {
		background: $bColor;
		outline: none;
	}
}

.arrow {
	margin-top:10px;
	background: transparent;
	border: 2px solid $bColor;
	color: $bColor;
	border-radius: 15px;

	&:hover {
		background: $bColor;
		color: #fff;
	}
	&:active,
	&:focus {
		background: transparent;
		color: $bColor;
	}
	&:after {
		content: url(/images/arrow-right.png);
	}
	&:hover:after {
		-webkit-animation: bounceright .3s alternate ease infinite;
		animation: bounceright .3s alternate ease infinite;
	}
}

@-webkit-keyframes bounceright {
	from { -webkit-transform: translateX(0); }
	to   { -webkit-transform: translateX(3px); }
}

.share {
	margin-top: 20px;
	.title {
		float: left;
		font-size: 16px;
		font-weight: 600;
	}

	.icon-fb {
		float: left;
		padding: 2px 11px;
		background: #295396;
		border-radius: 25px;
		color: #fff;
		font-size: 11px;
		margin-left: 15px;
	}
	.icon-tw {
		float: left;
		padding: 2px 9px;
		background: #55acee;
		border-radius: 25px;
		color: #fff;
		font-size: 11px;
		margin-left: 10px;
	}
}

.navbar {
    margin-bottom: 0px;
}

.navbar-fixed-top {
    background-color: #ffffff;
    border-color: #e7e7e7;
}

.navbar-fixed-top .navbar-nav > li > a {
    color: #000;
    font-weight: 600;
    border: 2px solid transparent;

	&:hover {
		color: $bColor;
		background-color: transparent;
	}
}

.navbar-brand {
    float: left;
    height: 34px;
    padding: 17px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-fixed-top .navbar-nav > .active > a, .navbar-fixed-top .navbar-nav > .active > a:hover, .navbar-fixed-top .navbar-nav > .active > a:focus {
    color: $bColor;
    background-color: transparent;
    border: 2px solid $bColor;
    border-radius: 25px;
}

.navbar-toggle {
    padding: 9px 10px;
    margin-top: 11px;
    border: 1px solid $bColor;

    .icon-bar {
	    background: $bColor;
	}
}

.social-menu {
	float: right;

	.nav-soc {
		margin-bottom: 0px;
		-webkit-padding-start: 0px;
		li {
			display: inline-block;
			padding: 15px 10px;

			a {
				color: #717171;
				font-size: 16px;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				-ms-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;

				&:hover {
					color: $bColor;
				}
			}
		}
	}
}

.parallax {
	position: relative;
}

header {
	background: url(/images/header.jpg) center center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    width: 100%;
    height: 60vh;
    margin-top: 69px;
    padding-bottom: 20px; 

    .carousel {
	    position: relative;
	    margin-top: 70px;
        margin-left: -30px;

        .carousel-inner {
        	.item {
                transition-property: opacity;

			    .slider-article {
			    	margin: 0 30px;
			    	background: #fff;
			    	border-radius: 5px;
			    	height: auto;

			    	.box-top {
			    		padding: 10px 20px;
				    	.liga {
				    		img {
				    			display: block;
				    			margin: 0 auto;
				    		}
				    	}

				    	.who-play {
				    		margin: 0 30px;

			    			.title-club {
			    				margin-top: 5px;
			    				text-align: center;
			    				font-weight: 600;
			    				font-size: 12px;
			    				line-height: 12px;
			    			}

			    			.pkt {
			    				font-size: 40px;
			    				font-weight: 600;
			    				color: #000;
			    				text-align: center;
			    				margin-top: 15px;
			    			}
				    	}
			    	}

			    	.hr {
			    		border: 1px dashed $bColor;
			    		margin: 10px 0;
			    	}

			    	.box-title {
			    		border-left: 5px solid $bColor;
			    		padding: 10px 0 10px 20px;
			    		// -moz-border-image: -moz-linear-gradient(top, $bColor 0%, $gColor 100%);
						// -webkit-border-image: -webkit-linear-gradient(top, $bColor 0%, $gColor 100%);
						// border-image: linear-gradient(to bottom, $bColor 0%, $gColor 100%);
						// border-image-slice: 1;

						h3 {
							margin-top: 0px;
						    margin-bottom: 0px;
						    font-weight: 600;
						}
			    	}

			    	.box-body {
						padding: 10px 30px;
						line-height: 20px;

						.time {
							color: $gColor;
							font-weight: 600;
							margin: 10px 0 20px;
						}
			    	}
			    }
            }

            .item,
            .active.left,
            .active.right {
                opacity: 0;
            }

            .active,
            .next.left,
            .prev.right {
                opacity: 1;
            }

            .next,
            .prev,
            .active.left,
            .active.right {
                left: 0;
                transform: translate3d(0, 0, 0);
            }
        } 


		.carousel-control {
			top: 70px;
			opacity: 1;

			&.right {
			    right: 0;
			    left: auto;
			    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0)), to(rgba(0, 0, 0, .0)));
			    background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
			    background-repeat: repeat-x;

			    i {
			    	color: #8a8a8a;
				    background: #fff;
				    padding: 13px 20px;
				    border-radius: 25px;
			    }
			}

			&.left {
			    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
			    background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
			    background-repeat: repeat-x;

			    i {
			    	color: #8a8a8a;
				    background: #fff;
				    padding: 13px 20px;
				    border-radius: 25px;
			    }
			}
		}
	}	
}

.top-news {
	margin-top: 30px;
}

.img-post {
	min-height: 500px;
    background-size: cover;
    object-fit: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: table;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 3px;
}

section {
	padding: 50px 0;

	&.post-article {
		padding: 90px 0;
	}

	.main-article {
		margin-top: -100px;
	}

	.main-match {
		margin-top: -180px;
	}

	.mini-article {
		width: 100%;

		.img-article {
			float: left;
			width: 30%;
			border-radius: 3px;
			cursor: pointer;
			height: 100%;
			overflow: hidden;
			position: relative;
			text-align: center;
			background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
			background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);

			&:hover {
				img {
					opacity: 0.6;
					filter: alpha(opacity=60);
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
				}
			}

			img {
				min-height: 119px;
			    background-size: cover;
			    object-fit: cover;
			    background-position: top;
			    background-repeat: no-repeat;
			    display: table;
			    width: 100%;
			    height: 119px;
				border-radius: 3px;
				display: block;
				position: relative;
				max-width: none;
				width: calc(100% + 60px);
				-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
				transition: opacity 0.35s, transform 0.45s;
				-webkit-transform: translate3d(-40px, 0, 0);
				transform: translate3d(-40px, 0, 0);
			}
		}

		.article-body {
			float: left;
			width: 70%;
			padding: 5px 0 20px 10px;

			.date {
				display: table;
				background: $bColor;
				color: #fff;
				font-weight: 600;
				padding: 2px 10px;
				position: relative;
				left:-40px;
			}

			.title {
				font-weight: 600;
				font-size: 13px;
			    line-height: 18px;
			    margin-top: 5px;
			}
		}
	}

	.second-article {
		.img-article {
			border-radius: 3px;
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			text-align: center;


			-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
			transition: opacity 0.35s, transform 0.45s;
			background: -webkit-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
			background: -o-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
			background: linear-gradient(to top right, #ff89e9 0%, #05abe0 100%);

			&:hover {
				img {
					opacity: 0.6;
					filter: alpha(opacity=60);
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
				}
			}

			img {	
				min-height: 220px;
			    background-size: cover;
			    object-fit: cover;
			    background-position: top;
			    background-repeat: no-repeat;
			    display: table;
			    width: 100%;
			    height: 220px;
				border-radius: 3px;
				position: relative;
				max-width: none;
				
				width: calc(100% + 60px);
				-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
				transition: opacity 0.35s, transform 0.45s;
				-webkit-transform: translate3d(-40px, 0, 0);
				transform: translate3d(-40px, 0, 0);
				background: -webkit-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
				background: -o-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
				background: linear-gradient(to top right, #ff89e9 0%, #05abe0 100%);
			}
		}

		.article-body {
			padding: 10px 0 20px;

			.title {
				font-weight: 600;
				font-size: 16px;
			    line-height: 18px;
			}
		}
	}

	.third-article {
		.img-article {
			border-radius: 3px;

			cursor: pointer;
			width: 100%;
			height: 100%;
		
			overflow: hidden;
			position: relative;
			text-align: center;
			background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
			background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);

			&:hover {
				img {
					opacity: 0.6;
					filter: alpha(opacity=60);
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
				}
			}

			img {
				min-height: 161px;
			    background-size: cover;
			    object-fit: cover;
			    background-position: top;
			    background-repeat: no-repeat;
			    display: table;
			    width: 100%;
			    height: 161px;
				border-radius: 3px;

				background: -webkit-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
				background: -o-linear-gradient(bottom left, #ff89e9 0%, #05abe0 100%);
				background: linear-gradient(to top right, #ff89e9 0%, #05abe0 100%);
			
			
				display: block;
				position: relative;
				max-width: none;
				width: calc(100% + 60px);
				-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
				transition: opacity 0.35s, transform 0.45s;
				-webkit-transform: translate3d(-40px, 0, 0);
				transform: translate3d(-40px, 0, 0);
			}
		}

		.article-body {
			padding: 10px 0 20px;
		    position: relative;

			.date {
				display: table;
				background: $bColor;
				color: #fff;
				font-weight: 600;
				padding: 2px 10px;
				position: absolute;
				left: 0px;
				top: -20px;
			}

			.title {
				font-weight: 600;
				font-size: 16px;
			    line-height: 18px;
			}
		}
	}

	.four-article {
		position: relative;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;

		.img-article {
			border-radius: 3px;
			cursor: pointer;
			height: 100%;
			overflow: hidden;
			position: relative;
			text-align: center;
			background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
			background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);

			&:hover {
				img {
					opacity: 0.6;
					filter: alpha(opacity=60);
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
				}
			}

			img {
				min-height: 217px;
			    background-size: cover;
			    object-fit: cover;
			    background-position: top;
			    background-repeat: no-repeat;
			    display: table;
			    width: 100%;
			    height: 217px;
				border-radius: 3px;
				display: block;
				position: relative;
				max-width: none;
				width: calc(100% + 60px);
				-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
				transition: opacity 0.35s, transform 0.45s;
				-webkit-transform: translate3d(-40px, 0, 0);
				transform: translate3d(-40px, 0, 0);
			}
		}

		.article-body {
			padding: 0px 0 20px;

			.date {
				display: table;
				color: $gColor;
				font-weight: 600;
				padding: 2px 0px;
			}

			.title {
				font-weight: 600;
				font-size: 16px;
			    line-height: 18px;
			}
		}
	}

	&.ligs {
		background: #e5e5e5;
		padding: 30px 0;
	}

	&.top-five {
		background: #e5e5e5;

		img {
			&.face {
				width: 120px;
				height: 120px;
				border-radius: 60px;
			}
		}

		.img-club {
		    position: absolute;
    		top: 74px;
    		left: 132px;
		}

		.name {
			margin-top: 10px;
			text-align: center;
			font-weight: 600;
		}

		.club {
			text-align: center;
			font-size: 13px;
			color: #a4a4a4;
		}
	}

	&.carousel-liga {

		.carousel-control {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    width: 15%;
		    font-size: 20px;
		    color: #fff;
		    text-align: center;
		    text-shadow: 0 0px 0px rgba(0, 0, 0, 1);
		    background-color: rgba(0, 0, 0, 0);
		    filter: alpha(opacity=100);
		    opacity: 1;
		    z-index: 1;

		    &.right {
			    right: 0;
			    left: auto;
			    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0)), to(rgba(0, 0, 0, .0)));
			    background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
			    background-repeat: repeat-x;

			    i {
			    	color: #000;
				    font-size: 35px;
			    }
			}

			&.left {
			    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
			    background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
			    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
			    background-repeat: repeat-x;

			    i {
			    	color: #000;
				    font-size: 35px;
			    }
			}
		}

		.carousel {
			.carousel-inner {
				.item {
					.name-liga {
						border-top: 2px solid #000;
						padding: 15px 50px;
						font-size: 20px;
						font-weight: 600;
					}
				}
			}
		}
	}
}

table {
	&.table-striped {
		thead, tfoot {
			background: #27292c;
			color: #fff;
		}
	}
}

.arrow-up {
	padding: 0;
	text-align: center; 
	color: #89ca5d;
}

.arrow-down {
	padding: 0;
	text-align: center; 
	color: #bd3738;
}


.match {
	background: #fff;
	border-radius: 5px;
	box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.1);

	.header {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background: $gColor;
		color: #fff;
		font-weight: 400;
		font-size: 18px;
		padding: 10px;
	}

	.menu {
		background: $bColor;
		ul {
			&.nav-tabs {
				li {
				    width: 33.3333%;
				    text-align: center;

					&.active {
						a {
							color: #092c4a;
							font-weight: 600;
						    cursor: default;
						    background-color: #4cb5e6;
						    border: 1px solid #4cb5e6;
						    border-bottom-color: transparent;

						    &:hover {
						    	background-color: #4cb5e6;
						    }
						}
					}
					a {
						padding: 5px 15px;
					    margin-right: 0px;
						color: #fff;
						font-weight: 600;
						font-style: italic;
						border-radius: 0;
						&:hover {
							background-color: #4cb5e6;
							border: 1px solid #4cb5e6;
						}
					}
				}
			}
		}

		select {
			&.select-tabs {
				width: 100%;
			    background: $bColor;
			    border: 0;
			    padding: 10px 10px;
			    font-size: 16px;
			    font-weight: 600;
			    font-style: italic;

			    &:focus, &:hover, &:active {
			    	border: 0;
			    }
			}
		}
	}

	.tab-body {
		padding: 10px 10px;

		p {
		    margin: 5px 0 0 0;
		    color: #000;
			font-weight: 600;
			text-align: center;
			font-size: 13px;
			line-height: 15px;
		}

		hr {
		    margin-top: 10px;
		    margin-bottom: 10px;
		    border: 0;
		    border-top: 1px solid #eee;
		}

		.name {
			color: #000;
			font-weight: 600;
			font-size: 16px;
			margin-top: 10px;
		}

		.club {
			color: #c1c1c1;
		    line-height: 10px;
    		font-size: 13px;
		}

		.pkt {
			color: #000;
		    margin-top: 17px;
		    font-size: 30px;
		    font-weight: 600;
		}
	}

}

.thumbnail {
	max-height: 100px;
}

footer {
	border-top: 1px solid #e7e7e7;
	padding: 20px;
	margin-top: 20px;
	color: #bfbfbf;
	font-size: 13px;
	
	.scrollToTop {
	    width: 50px;
	    height: 50px;
	    padding: 10px 10px;
	    z-index: 1000;
	    text-align: center;
	    background: transparent;
	    font-weight: bold;
	    color: $gColor;
	    text-decoration: none;
	    position: fixed;
	    top: 86%;
	    right: 40px;
	    border: 2px solid $gColor;
	    display: none;
	    -webkit-transition: all 300ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;

	    &:hover{
		    background: $gColor;
		    color: #fff;
		    -webkit-transition: all 300ms linear;
		    -moz-transition: all 200ms linear;
		    -o-transition: all 200ms linear;
		    -ms-transition: all 200ms linear;
		    transition: all 200ms linear;
		}
	}
	
}